@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700;800;900&display=swap");
@import "tailwindcss";

@theme {
	/* custom colors */
	--color-primary-light: #f5f5f5;
	--color-secondry-light: #dddddd;
	--color-primary-dark: #121212;
	--color-secondry-dark: #2b2b2b;

	/* custom fonts */
	--font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
	--font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
		"Liberation Mono", "Courier New", monospace;
}
