@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700;800;900&display=swap');
@import "tailwindcss";

@theme {
    /* custom colors */
    --color-primary-light: #F5F5F5;
    --color-secondry-light: #DDDDDD;
    --color-primary-dark: #121212;
    --color-secondry-dark: #2B2B2B;

    /* custom fonts */
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
